@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333;
}

$weights: 100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $weight in $weights {
    .fw-#{$weight} {
        font-weight: $weight;
    }
}

$transforms: uppercase, lowercase, capitalize;

@each $transform in $transforms {
    .text-#{$transform} {
        text-transform: $transform;
    }
}

$aligns: left, center, right, justify;

@each $align in $aligns {
    .text-#{$align} {
        text-align: $align;
    }
}

$flexs: flex, inline-flex;

@each $flex in $flexs {
    .d-#{$flex} {
        display: $flex;
    }
}

$directions: row, row-reverse, column, column-reverse;

@each $direction in $directions {
    .flex-#{$direction} {
        flex-direction: $direction;
    }
}

$justifys: flex-start, center, flex-end, space-between, space-around, space-evenly;

@each $justify in $justifys {
    .justify-#{$justify} {
        justify-content: $justify;
    }
}

$aligns: flex-start, center, flex-end, space-between, space-around, space-evenly;

@each $align in $aligns {
    .align-#{$align} {
        align-content: $align;
    }
}

$wraps: nowrap, wrap, wrap-reverse;

@each $wrap in $wraps {
    .flex-#{$wrap} {
        flex-wrap: $wrap;
    }
}


$aligns1: flex-start, center, flex-end;

@each $align1 in $aligns1 {
    .align-#{$align1} {
        align-items: $align1;
    }
}

$positions: fixed, static, relative, absolute;

@each $position in $positions {
    .position-#{$position} {
        position: $position;
    }
}