 @import '../base/varriables';
// About Area
.about-area {
  // Section Title
  .section-title {
    h4 {
      font-size: $font-size-heading;
      line-height: $line-height-heading;
      font-weight: $font-weight-bold;
      color: $text-color;
      padding-bottom: 15px;
    }

    p {
      color: $text-color;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
    }

    .divider {
      background: $primary-color;
      width: 50px;
      height: 3px;
    }
  }

  // About Image
  .about-img {
    .about-btn {
      display: inline-block;
      padding: 5px 16px;
      margin: 34px 0;
      background: $primary-color;
      border: 1px solid transparent;
      border-radius: 3px;
      color: $section-background;
      font-size: 14px;
      &:hover {
        border: 1px solid $link-hover-color;
        background: transparent;
        color: $link-hover-color;
        font-weight: 600;
      }
    }
    img {
      border-radius: 13px;
      border: 7px solid $secondary-color;
    }
  }

  // About Content
  .about-content {
    h2,
    h3 {
      color: $text-color;
    }
    p {
      padding: 10px 0;
    }
    // Personal Details Table
    .profile-card {
      margin: 20px auto;
      padding: 20px;
      border: 1px solid $secondary-color;
      border-radius: 8px;
      background: $section-background;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

      .profile-header {
        text-align: center;
        margin-bottom: 20px;

        h2 {
          font-size: 1.5rem;
          color: $heading-color;
        }
      }

      .profile-content {
        .profile-item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          padding-bottom: 5px;
          border-bottom: 1px dashed $secondary-color;

          strong {
            font-weight: 600;
            color: $heading-color;
          }

          span {
            color: $heading-color;
            a {
              color:$link-hover-color;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
