.banner-area {
  position: relative;
  inset: 0;
  z-index: 2;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: $text-color;
    opacity: 0.5;
    z-index: -1;
  }
  .banner-content {
    padding: 0 20px;
    a {
      display: inline-block;
      background: $section-background;
      padding: 5px 8px;
      margin: 24px 0 0;
      border-radius: 9px;
      color: $text-color;
      font-weight: 600;
      border: 2px solid transparent;
      &:hover {
        background: transparent;
        border: 2px solid $section-background;
        color: $section-background;
      }
      @include small {
        padding: 0px 3px;
        font-size: 13px;
      }
    }
    h1 {
      font-size: 64px;
      line-height: 76px;
      color: $section-background;
      text-transform: capitalize;
      margin-bottom: 20px;
      font-style: italic;
      @include small {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 3px;
      }
    }

    p {
      font-size: 26px;
      color: $section-background;
      font-weight: 600;

      span {
        border-bottom: 1px solid $primary-color;
        padding: 5px 11px;
      }
      @include small {
        font-size: 16px;
      }
    }
  }
  @include small {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
  }
}

// Typewriter Effect
#typewriter-text {
  display: inline-block;
  font-weight: bold;

  &::after {
    content: "|";
    animation: blink 0.7s step-end infinite;
  }
}

// Blink Animation for Cursor
@keyframes blink {
  50% {
    opacity: 0;
  }
}

// Colors for each role
.typewriter-role {
  &.developer {
    color: $success-color; // Green color for "Web Developer"
  }

  &.designer {
    color: $info-color; // Sky blue color for "Web Designer"
  }

  &.ux-designer {
    color: $error-color; // Red color for "UI/UX Designer"
  }
}
