 @import '../base/varriables';
.header-area {
  position: fixed;
  width: 300px;
  height: 100vh;
  overflow-y: scroll;
  background: $text-color;
  padding-top: 30px;
  padding-left: 13px;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  transform: translateX(-105%);
  z-index: 99;
  .profile-img {
    text-align: center;
    img {
      width: 100px;
      border-radius: 50%;
      padding: 5px;
      background: $heading-color;
    }
  }

  .logo {
    text-align: center;
    margin: 20px 0;
    h4 {
      a {
        display: inline-block;
        color: $section-background;
        font-size: 27px;
        line-height: 37px;
        font-style: italic;
        margin-bottom: 7px;
      }
    }
    span {
      display: block;
      color: $section-background;
    }
  }

  .social-links {
    a {
      display: inline-block;
      padding: 10px;
      text-align: center;
      margin: 0 5px;
      background: $heading-color;
      color: $section-background;
      border-radius: 50%;
      font-size: 18px;
      &:hover {
        background: $primary-color;
      }
      @include small{
      margin: 3px 5px;

      }
    }
  }

  .navbar {
    margin-top: 15px;
    ul {
      li {
        a {
          display: inline-block;
          color: #a8a9b4;
          font-size: 14px;
          margin: 15px 0;
          &:hover {
            color: $section-background;
            i {
              color: $primary-color;
            }
          }
          i {
            font-size: 23px;
            margin-right: 18px;
          }
        }
      }
    }
  }
  &.active {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }
  @include small {
    width: 80%;
    z-index: 9;
    height: 100vh;
    padding: 5px 25px;
  }
}

.toggle-bar {
  background: $primary-color;
  padding: 12px;
  color: $section-background;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 23px;
  z-index: 1000;
  right: 30px;
  top: 0;
  .bars-btn {
    display: block;
  }

  .cross-btn {
    display: none;
  }

  &.active {
    .bars-btn {
      display: none;
    }

    .cross-btn {
      display: block;
    }
  }

  @include small {
    position: fixed;
    z-index: 99;
    right: 8px;
  }
  &:hover {
    background-color: $link-hover-color;
  }
}
