@import "../base/varriables";

// Skill area section styles
.skill-area {
  padding: 50px 0;
  background-color: $background-color; // Background color for the section

  .section-title {
    text-align: center;
    // margin-bottom: 40px;

    h4 {
      font-size: $font-size-heading;
      line-height: $line-height-heading;
      font-weight: $font-weight-bold;
      color: $text-color;
      padding-bottom: 15px;
    }

    p {
      color: $text-color;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
    }

    .divider {
      background: $primary-color;
      width: 50px;
      height: 3px;
      margin: 10px auto;
    }
  }

  // Progress bar container styles
  .progress-wrapper {
    margin-bottom: 20px;

    .skill-name {
      font-size: 16px;
      font-weight: bold;
      margin: 15px 0;
      transition: all 0.3s ease; // Smooth transition for skill name
    }

    .progress {
      background-color: $secondary-color;
      border-radius: 5px;
      width: 100%;
      height: 20px;
      margin-bottom: 10px;

      .progress-bar {
        height: 100%;
        line-height: 20px;
        text-align: center;
        color: $section-background;
        border-radius: 5px;
        font-weight: bold;
        font-size: 14px;
        transition: width 0.3s ease; // Smooth transition for width change
      }

      // Custom colors for the progress bars
      .success {
        background-color: $success-color;
      }

      .info {
        background-color: $info-color;
      }

      .primary {
        background-color: $link-hover-color;
      }

      .danger {
        background-color: $error-color;
      }
    }
  }
  .skill-tools {
    @include x-small{
      // padding-top: 30px;
    }
    .tool-icon {
      margin-top: 20px;
      li {
        width: 123px;
        text-align: center;
        margin: 10px;
        @include large{
            width: 85px;
          }
        img {
          width: 100px;
          
        }
      }
    }
  }
}
